#top {
  background-color: rgba(255, 255, 255, .85);
}

div.home>div.home-nav-links>div {
  margin-top: 64px;
  margin-bottom: 64px;
}

div.stats-div>div.with-scroll {
  padding-top: 24px;
}

.center {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 100%;
}

.center>h3 {
  margin-bottom: 32px;
}

.profile-picture {
  height: 48px;
  margin-top: 8px;
  margin-right: 16px;
}

.el-cap {
  /*
   * special thanks to Aaron Clifton for the idea of using floating heads on a
   * picture of El Capital Mountain
   */

  background-image: url('/images/elcap.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left bottom;
}

.fullheight {
  min-height: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .el-cap>div.gradient {
    background-image: url('/images/gradient.png');
    background-size: 15% 1px;
    background-repeat: repeat-y;
    background-position: right;
  }

  .el-cap>div:not(.gradient) {
    background-color: white;
  }
}

@media (max-width: 991px) {
  .fullheight.with-scroll {
    min-height: 100%;
    height: auto;
  }
  .admin-tab {
    padding-bottom: 128px;
  }
}

#hidden-gems {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 32767;
  top: 0px;
  left; 0px;
  background-color: black;
}

#hidden-gems>button.close {
  color: #dddddd;
  margin-right: 8px;
}

#O_O,html,body,#content {
  min-height: 100%;
  height: 100%;
}

#O_O>.container-fluid {
  padding-top: 64px;
}

.copyright {
  position: absolute;
  bottom: 2px;
  left: 4px;
  line-height: 1em;
}

.copyright > a {
  color: #666666;
}

.with-scroll {
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}

.floating-head {
  position: absolute;
}

.floating-head > span {
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 8px;
  margin-left: -12px;
  z-index: 8;
  background: rgba(0, 0, 0, 0.4)!important;
  color: #DDDDDD;
}

.floating-head > img {
  position: relative;
  height: 64px;
  width: 64px;
  z-index: 16;
}

.progress-rainbow {
  margin-top: 8px;
  height: 48px;
  align-items: center;
}

.progress-rainbow>div>div {
  line-height: 48px;
  vertical-align: middle;
}

.progress-rainbow>div>.rainbow-name-picture>span.rainbow-name {
  max-width: 140px;
  white-space: nowrap; 
  position: absolute;
  right: 52px;
  z-index: 1;
}

.progress-rainbow>div>.rainbow-name-picture>img.img-circle {
  right: 0px;
  position: absolute;
  height: 48px;
  width: 48px;
  z-index: 5;
}

.progress-rainbow>div>.rainbow-name-picture {
  width: 192px;
  height: 48px;
  left: 0px;
  text-align: right;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}
.progress-rainbow>div>.rainbow-percentage {
  width: 42px;
  right: 0px;
  display: inline-block;
  position: absolute;
}

.progress-rainbow>div>.rainbow-chips {
  width: 100%;
  padding-left: 192px;
  padding-right: 42px;
  display: inline-block;
}

.rainbow-chip {
  height: 48px;
  width: 1.724137931%;
  display: inline-block;
}

.me-info {
  padding: 16px;
  margin: 16px;
}

.me-info>div{
  clear: both;
}

div.category-label>span {
  font-size: 1.5em;
}

div.category-label {
  margin-top: 32px;
}

.me-info > div.title-line {
  height: 71px;
  margin-bottom: 1px;
}

.me-info > div.title-line > div > h3 {
  margin-right: 16px;
}

.me-info > div.title-line > div {
  float: left;
}

.category-setter-div {
  margin-top: 38px;
  margin-left: 4px;
}

div.me-info-chips {
  margin-top: 16px;
}

.category-description {
  text-align: center;
}

.category-description > ul {
  margin-top: 16px;
  text-align: left;
  padding-left: 16px;
}

ul.logs,ul.admin-routes,ul.pending-logs {
  list-style-type: none;
  margin-top: 24px;
}

ul.pending-logs>li>div>span>img.img-circle {
  margin-right: 4px;
}

ul.pending-logs>li>div>span {
  margin-left: 8px;
}

.admin-route>div>span.label {
  margin-left: 4px;
  margin-top: 4px;
}

.admin-route>div {
  margin-top: 8px;
}

.admin-route>div>span.badge {
  height: 16px;
  width: 16px;
  margin-right: 8px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
}

.admin-routes-parent > div > button {
  margin-top: 16px;
  margin-left: 32px;
}

.log,.admin-routes {
  margin-top: 16px;
  font-size: 1.2em;
}

.log>div>span.pending {
  float: right;
  margin-right: 8px;
  font-style: italic;
}

.log>div>span.label {
  margin-left: 4px;
  float: right;
  margin-top: 4px;
}


.log>div.pull-right {
  margin-top: -8px;
}

li.log>div>a.log-remove,a.admin-route-able {
  padding-left: 8px;
  font-size: .8em;
}

a.pointer {
  cursor: pointer;
  text-decoration: none;
  margin-left: 4px;
}

ul.pending-logs>li {
  margin-top: 8px;
}
ul.pending-logs a.pointer {
  margin-right: 8px;
}

.selector-div>button.dropdown-toggle {
}

.selector-div>button.dropdown-toggle span.caret {
  margin-left: 8px;
}

.selector-div>ul.dropdown-menu {
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
}

.selector-div>ul.dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.selector-div>ul.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.selector-div>ul.dropdown-menu>li>button>span {
  width: 100%;
  display: inline-block;
}

.selector-div>ul.dropdown-menu>li>button {
  width: 100%;
  text-align: left;
  padding: 4px;
  margin: 0px;
}

.person-picker-name {
  margin-left: 8px;
}

.swear-to-aubie {
  margin-bottom: 8px;
}

.aubie {
  position: absolute;
  top: 10px;
  right: 16px;
  height: 133px;
}

.report {
  padding-top: 64px;
}

.report img.img-circle {
  height: 100px;
  margin-right: 24px;
}

.report div.print {
  line-height: 24px;
  height: 24px;
}

.report div.print > span {
  vertical-align: middle;
}

.report div.print > button {
  margin-left: 24px;
}
